body{
    background-color: black;
    color: azure;
    font-family: monospace;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.headings{
    text-align: center;
}

#page-title{
    margin:auto
}

#introduction{
    text-align:center;
}